body{
    font-family: sans-serif;
    margin: 0;
}

header{
    margin: 0, 20px;
    padding: 20px;
    background: pink;
}

form{
    margin: 3rem auto;
    width: 90%;
    max-width: 30rem;
    padding: 1rem;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 8px rgb(0, 0, 0.26);
}



button{
    cursor: pointer;
    padding:0.5rem 1.5rem;
    border-radius: 6px;
    background-color: #1f0050;
    color: white;
    border: 1px solid ;
}

button:hover,
button:active{
    cursor: pointer;
    background-color: #320777;
    border-color: #320777;
}